.login {
    width: 100%;
    min-height:calc(100vh - 120px);
    background-color: #363636;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(10vw);
}

/* Registration About Style */
.login-about {
    color: #fff;
    margin-top: 130px;
    width: 400px;
}

.login-about h1 {
    width: 400px;
}

.login-features {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family:sans-serif;
}

.login-features img {
    height: 20px;
    width: 20px;
}

.login-features .register-feature {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Registration Form Style */
.login-form {
    width: 30%;
    margin-top: 130px;
    margin-bottom: 66px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffff;
    text-align: center;
}

.login-form p {
    margin: 20px;
}

.login-error {
    color: red;
}

/* LoginwithGoogle Button Style */
.login-form .long-button {
    margin-top: 20px;
}

/* Style for Custom input Components */
.login #input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login label {
    text-align: left;
}

/* User-name style */
.login .user-name {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}


.other-input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*Layout change for Width less than 1050px */
@media only screen and (max-width:1050px) {
    .login {
        flex-direction: column;
        gap: 1px;
    }

    .login-about {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .login-about h1 {
        width: 300px;
    }

    .login-form {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:600px) {
    .login-form {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}