name: Deploy Backend

on:
  push:
    branches:
      - master-backend

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Log in to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and push Docker image
      env:
        AWS_ACCOUNT_ID: ${{SECRET.AWS_ACCOUNT_ID }}
        AWS_REGION: ${{SECRET.AWS_REGION }}
      run: |
        cd backend
        docker build -t cpp-compiler .
        docker tag cpp-compiler:latest $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/backend-repo:latest
        docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/backend-repo:latest

    - name: Deploy to EC2
      env:
        SSH_PRIVATE_KEY: ${{SECRET.EC2_SSH_KEY }}
        EC2_HOST: ${{SECRET.EC2_HOST }}
      run: |
        echo "$SSH_PRIVATE_KEY" > id_rsa
        chmod 600 id_rsa
        ssh -o StrictHostKeyChecking=no -i id_rsa ec2-user@$EC2_HOST 'bash -s' < deploy.sh
