.registration{
    width:100%;
    background-color:#f4f5ff; 
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    gap:calc(10vw);
}

/* Registration About Style */
.registration-about{
    margin-top:130px;
    width:400px;
}

.registration-about h1{
   width:400px;
}

.register-features{
   margin-top:20px;
   display:flex;
   flex-direction:column;
   gap:15px;
}

.register-features img{
     height:20px;
     width:20px;
}

.register-features .register-feature{
    display:flex;
    flex-direction:row;
    gap:10px;
}

/* Registration Form Style */
.registration-form{
    width:500px;
    margin-top:130px;
    margin-bottom:66px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #ffff;
    text-align:center;
}

.registration-form p{
    margin:20px;
}

 .registration-error{
    color:red;
}

/* LoginwithGoogle Button Style */
.registration-form .long-button{
   margin-top:20px;
}

/* Style for Custom input Components */
.registration #input-field{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.registration label{
    text-align:left;
} 

/* User-name style */
.registration .user-name{
    margin-top:20px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap:10px;
}


.other-input{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

/*Layout change for Width less than 1050px */
@media only screen and (max-width:1050px) {
    .registration{
        flex-direction:column;
        gap:1px;
    }
    .registration-about{
      width:300px;
      margin-left:auto;
      margin-right:auto;
    }
    .registration-about h1{
        width:300px;
     }
    .registration-form{
      margin-left:auto;
      margin-right:auto;
    }
  }
  
  @media only screen and (max-width:600px) {
    .registration-form{
      width:350px;
      margin-left:auto;
      margin-right:auto;
    }
  }